.join-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #292424;
    background-image: url("../../images/back.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.join-game h1{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #fff;
}

.join-game input{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 15px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 50px 0;
    border: none;
    border-radius: 5px;
}

.join-game input:focus{
    outline: none;
}

.join-game button{
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    padding: 15px 25px;
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 10px;
    border: none;
}

.join-game button:hover{
    transform: scale(1.05);
}

.join-game button:active{
    transform: scale(1);
}