.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #292424;
    background-image: url("../../images/back.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.game h1{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #fff;
}
.player{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.turn{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.board{
    display: flex;
    flex-wrap: wrap;
    width: 306px;
    height: 306px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid #000;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 50px;
    cursor: pointer;
    border: 1px solid #dee66d;
    transition: all 0.2s ease;
}

.square:active{
    transform: scale(0.9);
}

.x {
  position: relative;
  width: 100px;
  height: 100px;
}

.line {
  position: absolute;
  width: 4px;
  background-color: rgb(135, 6, 6);
}

.line1 {
  transform: rotate(45deg);
  height: 100%;
  left: calc(50% - 2px);
}

.line2 {
  transform: rotate(-45deg);
  height: 100%;
  left: calc(50% - 2px);
}

.o{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 50px;
    cursor: pointer;
    border: 3px solid #04cb71;
    border-radius: 50%;
    color: #fff;
}


.game-over{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 320px;
    height: 450px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over .game-over-text{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #fff;
}

.game-over .winner{
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #fff;
}

.rematch{
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 15px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 10px;
    border: none;
}

.rematch:hover{
    transform: scale(1.05);
}

.rematch:active{
    transform: scale(1);
}

.friend-asked-title{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #fff;
}

.ok-rematch{
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 15px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 10px;
    border: none;
}

.no-rematch{
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 15px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 10px;
    border: none;
}

.ok-rematch:hover{
    transform: scale(1.05);
}

.ok-rematch:active{
    transform: scale(1);
}

.no-rematch:hover{
    transform: scale(1.05);
}

.no-rematch:active{
    transform: scale(1);
}

.rematch-clicked-title{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #fff;
}